<div class="user-details">
  <h1> Detailed Resume </h1>
  <p>The PDF of my one page resume is found here</p>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Professional Experience </h3>
    <h2> Cubic Corporation </h2>
    <p>
      Developed Java microservices that were deployed across several projects, replacing 
      outdated monolithic applications.
    </p>
    <p>
      Refactored a large legacy application, resulting in the deletion of over 5,000 lines 
      of code and simplifying further development and code maintainability.
    </p>
    <p>
      Wrote and deployed software that replaced manual testing for software releases, 
      reducing both testing time and the number of recurring bugs.
    </p>
    <p>
      Worked with product managers to capture and define technical specifications and 
      customer requirements.
    </p>
  </div>
</div>
