<div class="user-details">
  <h1> Detailed Resume </h1>
  <p>The PDF of my one page resume is found here</p>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Professional Experience </h3>
    <h4> Software Engineer </h4>
    <p> Cubic Corporation </p>
    <p> 2016 - Present </p>
    <p>
      Developed Java microservices that were deployed across several projects, replacing 
      outdated monolithic applications.
    </p>
    <h4> Software Development Intern</h4>
    <p> National Oceanic and Atmospheric Administration </p>
    <p> 2014 - 2016 </p>
    <p>
      Proposed and developed an application that parsed raw weather data 
      and created interactive graphs and charts. 
    </p>

    <h3> Education </h3>
    <h4> Bachelor of Science, Computer Science </h4>
    <p> California State University, Sacramento </p>
    <p> Graduated 2016 </p>
  </div>
</div>
